@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

.burger h4:hover {
  transition: 300ms;
  font-weight: 600;
  cursor: pointer;
}

.swiper-button-next,
.swiper-button-prev {
  top: 0;
  padding: 60px 22px;
  margin-top: 43px;
  color: #474747 !important;
  background-color: transparent;
  z-index: 30;
  opacity: "100%" !important;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 0;
}